In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("raw_data/states_regions_divisions.csv")

In [4]:

df.groupby("Division")["State"].count()

Division
East North Central    5
East South Central    4
Middle Atlantic       3
Mountain              8
New England           6
Pacific               5
South Atlantic        9
West North Central    7
West South Central    4
Name: State, dtype: int64

In [19]:
region_dict = {
    "Midwest": 36,
    "Northeast": 35,
    "West": 13,
    "South": 9,
    "International": 7,
}

data_json = []

def turn_to_json(state,region, region_dict):
    row = {"region":region, "state_code": state, "value":region_dict[region]}
    data_json.append(row)

[turn_to_json(row[1],row[2], region_dict) for row in df.to_numpy()]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [20]:
data_json

[{'region': 'West', 'state_code': 'AK', 'value': 13},
 {'region': 'South', 'state_code': 'AL', 'value': 9},
 {'region': 'South', 'state_code': 'AR', 'value': 9},
 {'region': 'West', 'state_code': 'AZ', 'value': 13},
 {'region': 'West', 'state_code': 'CA', 'value': 13},
 {'region': 'West', 'state_code': 'CO', 'value': 13},
 {'region': 'Northeast', 'state_code': 'CT', 'value': 35},
 {'region': 'South', 'state_code': 'DC', 'value': 9},
 {'region': 'South', 'state_code': 'DE', 'value': 9},
 {'region': 'South', 'state_code': 'FL', 'value': 9},
 {'region': 'South', 'state_code': 'GA', 'value': 9},
 {'region': 'West', 'state_code': 'HI', 'value': 13},
 {'region': 'Midwest', 'state_code': 'IA', 'value': 36},
 {'region': 'West', 'state_code': 'ID', 'value': 13},
 {'region': 'Midwest', 'state_code': 'IL', 'value': 36},
 {'region': 'Midwest', 'state_code': 'IN', 'value': 36},
 {'region': 'Midwest', 'state_code': 'KS', 'value': 36},
 {'region': 'South', 'state_code': 'KY', 'value': 9},
 {'region': 'South', 'state_code': 'LA', 'value': 9},
 {'region': 'Northeast', 'state_code': 'MA', 'value': 35},
 {'region': 'South', 'state_code': 'MD', 'value': 9},
 {'region': 'Northeast', 'state_code': 'ME', 'value': 35},
 {'region': 'Midwest', 'state_code': 'MI', 'value': 36},
 {'region': 'Midwest', 'state_code': 'MN', 'value': 36},
 {'region': 'Midwest', 'state_code': 'MO', 'value': 36},
 {'region': 'South', 'state_code': 'MS', 'value': 9},
 {'region': 'West', 'state_code': 'MT', 'value': 13},
 {'region': 'South', 'state_code': 'NC', 'value': 9},
 {'region': 'Midwest', 'state_code': 'ND', 'value': 36},
 {'region': 'Midwest', 'state_code': 'NE', 'value': 36},
 {'region': 'Northeast', 'state_code': 'NH', 'value': 35},
 {'region': 'Northeast', 'state_code': 'NJ', 'value': 35},
 {'region': 'West', 'state_code': 'NM', 'value': 13},
 {'region': 'West', 'state_code': 'NV', 'value': 13},
 {'region': 'Northeast', 'state_code': 'NY', 'value': 35},
 {'region': 'Midwest', 'state_code': 'OH', 'value': 36},
 {'region': 'South', 'state_code': 'OK', 'value': 9},
 {'region': 'West', 'state_code': 'OR', 'value': 13},
 {'region': 'Northeast', 'state_code': 'PA', 'value': 35},
 {'region': 'Northeast', 'state_code': 'RI', 'value': 35},
 {'region': 'South', 'state_code': 'SC', 'value': 9},
 {'region': 'Midwest', 'state_code': 'SD', 'value': 36},
 {'region': 'South', 'state_code': 'TN', 'value': 9},
 {'region': 'South', 'state_code': 'TX', 'value': 9},
 {'region': 'West', 'state_code': 'UT', 'value': 13},
 {'region': 'South', 'state_code': 'VA', 'value': 9},
 {'region': 'Northeast', 'state_code': 'VT', 'value': 35},
 {'region': 'West', 'state_code': 'WA', 'value': 13},
 {'region': 'Midwest', 'state_code': 'WI', 'value': 36},
 {'region': 'South', 'state_code': 'WV', 'value': 9},
 {'region': 'West', 'state_code': 'WY', 'value': 13}]