In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [5]:
fname = "property_years_extended_11_16_24.geojson"

df_gpd = gpd.read_file(fname)

In [6]:
df_gpd

,osm_id,custom_id,name,address,year_start,year_end,currently_owned,years_confirmed,quad_flag,recent_residential_sales,charter_schools_flag,commercial_buildings_flag,currently_exists,geometry
0,143956018.0,NaN,1100 East 55th Street,1100 East 55th Street,2023.0,2024.0,True,True,False,-1.0,False,False,True,"MULTIPOLYGON (((-87.59944 41.79565, -87.59925 ..."
1,1957138.0,NaN,1155 East 60th Street,1155 East 60th Street,1984.0,2024.0,True,True,False,-1.0,False,False,True,"MULTIPOLYGON (((-87.59769 41.78562, -87.59775 ..."
2,144458833.0,NaN,1160-74 East 55th Street,1160-74 East 55th Street,2019.0,2029.0,True,False,False,-1.0,False,True,True,"MULTIPOLYGON (((-87.59728 41.79522, -87.59728 ..."
3,211224089.0,NaN,1310-16 East Hyde Park Boulevard (1),1310-16 East Hyde Park Boulevard,2000.0,2020.0,False,False,False,25.0,False,False,True,"MULTIPOLYGON (((-87.59462 41.80260, -87.59463 ..."
4,211224094.0,NaN,1310-16 East Hyde Park Boulevard (2),1310-16 East Hyde Park Boulevard,2000.0,2020.0,False,False,False,25.0,False,False,True,"MULTIPOLYGON (((-87.59433 41.80279, -87.59433 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,11687839.0,NaN,Woodlawn Residential Commons,1156 East 61st Street,2020.0,2024.0,True,True,False,-1.0,False,False,True,"MULTIPOLYGON (((-87.59650 41.78481, -87.59650 ..."
337,NaN,30.0,Woodward Court,5824 South Woodlawn Avenue,1958.0,2001.0,False,True,False,-1.0,False,False,False,"MULTIPOLYGON (((-87.59617 41.78939, -87.59616 ..."
338,142420006.0,NaN,Young Memorial Building,5555 South Ellis Avenue,1965.0,2024.0,True,True,False,-1.0,False,False,True,"MULTIPOLYGON (((-87.60113 41.79350, -87.60113 ..."
339,301007577.0,NaN,Young Parking Lot,5555 South Ellis Avenue,1965.0,2024.0,True,True,False,-1.0,False,False,True,"MULTIPOLYGON (((-87.60110 41.79359, -87.60061 ..."
340,157655090.0,NaN,Zoology Building,1101 East 57th Street,1897.0,2024.0,True,True,True,-1.0,False,False,True,"MULTIPOLYGON (((-87.59955 41.79131, -87.59955 ..."

In [3]:
df_pd = pd.DataFrame(df_gpd)

In [4]:
df_pd

,osm_id,custom_id,name,address,year_start,year_end,currently_owned,geometry
0,445414332.0,NaN,1330 East 53rd Street,1330 East 53rd Street,2016.0,2024.0,True,"POLYGON ((-87.59425 41.80000, -87.59424 41.799..."
1,211224202.0,NaN,1447-51 East 53rd Street,1447-51 East 53rd Street,2011.0,2024.0,True,"POLYGON ((-87.58977 41.79943, -87.58997 41.799..."
2,143139313.0,NaN,Hyde Park Art Center,5020 South Cornell Avenue,1939.0,2024.0,True,"POLYGON ((-87.58695 41.80310, -87.58660 41.803..."
3,NaN,27.0,Hyde Park Arts Center Parking Lot,5020 South Cornell Avenue,1939.0,2024.0,True,"POLYGON ((-87.58697 41.80417, -87.58697 41.803..."
4,145510725.0,NaN,6022-24 South Drexel Avenue,6022-24 South Drexel Avenue,1995.0,2024.0,True,"POLYGON ((-87.60510 41.78518, -87.60514 41.785..."
...,...,...,...,...,...,...,...,...
185,505873479.0,NaN,UChicago Charter Woodlawn Campus,6420 South University Avenue,2006.0,2024.0,True,"POLYGON ((-87.59870 41.78005, -87.59834 41.780..."
186,156048759.0,NaN,Blackstone Hall,5748 South Blackstone Avenue,1930.0,2024.0,True,"POLYGON ((-87.59039 41.79015, -87.59043 41.790..."
187,144479783.0,NaN,Broadview Hall,5540 South Hyde Park Boulevard,1927.0,2024.0,True,"POLYGON ((-87.58461 41.79400, -87.58415 41.794..."
188,144008990.0,NaN,Maclean Hall,5445 South Ingleside Avenue,1991.0,2024.0,True,"POLYGON ((-87.60260 41.79687, -87.60259 41.796..."
189,NaN,29.0,Research Institutes Building,5640 South Ellis Avenue,1951.0,2024.0,True,GEOMETRYCOLLECTION EMPTY

In [17]:
bins = [1890,1930,1960,1990,2025]
labels = ["1890-1930", "1930-1960", "1960-1990","1990-2025"]

df_pd['era'] = pd.cut(x=df_pd['year_start'], bins=bins, labels=labels)

df_pd['era'] = df_pd['era'].astype(str)

In [18]:
with_eras = gpd.GeoDataFrame(df_pd, crs="EPSG:4326")

In [19]:
with_eras.to_file("with_era.geojson", driver="GeoJSON")

In [5]:
import requests
import json

url = 'https://api.maptiler.com/maps/dataviz/style.json?key=aXEOZFRxlPWOaJqsWprN'
r = requests.get(url)
tiles = r.json()    

with open("tiles.json", "w") as outfile: 
    json.dump(tiles, outfile)

AttributeError: 'dict' object has no attribute 'to_json'